body {
    font-size: 15pt;
    background-color: #808080;
    color: white;
    text-align: center; 
    width:45em;
    overscroll-behavior-y: none;
}

@media (orientation: landscape) {
  body {
    width:60em;
  }
}

@media (orientation: portrait) {
  body {
    width:45em;
  }
}

.yomikomidiv{
  position: fixed;
  z-index: 9999;
  background-color: #808080;
  height: 100vh;
  width: 100vw;
  text-align: center;
  opacity: 1;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
  
}

.op0{
  opacity: 0;
}

td {
  height: 1em;
  max-width: 8em;
  white-space: nowrap;
  overflow: scroll;
}

th{
  height: 1em;
}

.huchidori{
  text-shadow: 1px 1px 0px #fff,
               -1px -1px 0px #fff,
               1px -1px 0px #fff,
               -1px 1px 0px #fff,
               1px 0px 0px #fff,
               0px 1px 0px #fff,
               -1px 0px 0px #fff,
               0px -1px 0px #fff;
  font-weigth: bold;
}

#midasi tr {
  white-space: nowrap;
}

.memodiv {
  width: 5em;
  max-height: 1em;
  overflow: scroll;
  
}

.menubutton {
  margin: 12px;
}

.nouhauHidden{
  display: none;
}

.bookHidden{
  display: none;
}

.festoursHidden{
  display: none;
}

.tagHidden{
  display: none;
}

#info{
  position: fixed;
  bottom: 0;
  right:0;
  background-color: #555;
  height: 18em;
  width:12em;
}

.infoHidden{
  display:none;
}
