body {
    font-size: 15pt;
    background-color: #808080;
    color: white;
    text-align: center; 
    width:45em;
    overscroll-behavior-y: none;
}

@media (orientation: landscape) {
  body {
    width:60em;
  }
}

@media (orientation: portrait) {
  body {
    width:45em;
  }
}

td {
  height: 1em;
  max-width: 8em;
  white-space: nowrap;
  overflow: scroll;
}

th{
  height: 1em;
}

.huchidori{
  text-shadow: 1px 1px 0px #fff;
  text-shadow: -1px -1px 0px #fff;
  text-shadow: 1px -1px 0px #fff;
  text-shadow: -1px 1px 0px #fff;
  font-weigth: bold;
}

#midasi tr {
  white-space: nowrap;
}

.memodiv {
  width: 5em;
  max-height: 1em;
  overflow: scroll;
  
}

.menubutton {
  margin: 12px;
}

.nouhauHidden{
  display: none;
}

.bookHidden{
  display: none;
}

.festoursHidden{
  display: none;
}

.tagHidden{
  display: none;
}

#info{
  position: fixed;
  bottom: 0;
  right:0;
  background-color: #555;
  height: 18em;
  width:12em;
}

.infoHidden{
  display:none;
}
